body {
  font-family: 'Lato', sans-serif;
  /* margin-top: 70px; */
  font-size: 16px;
}

.navbar-default {
  background: #fff;
  border: 0;
  font-family: Lato;
  opacity: 0.80;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: 400;
}

section#hero {
  background-image:url('../img/chairs-behind.jpg');
  height: 775px;
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section#hero div.title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

section#hero div.title h1 {
  color: #fff;
  padding: 18px;
  letter-spacing: 10px;
  font-size: 3.5em;
  text-align: center;
  border: 5px solid #fff;
  display: inline;
}

section#about {
  margin: 2em 0;
}

section#about .about-right {
  padding-top: 4.5em;;
}

section#about div.about-left img {
  width: 90%;
}

section#gallery img {
  width: 100%;
  margin: 1em 0;
}

#testimonial {
  background: #f1f1f1;
  height: 15em;
  padding: 3em 0 2em 0;
  /* text-align: center; */
  /* margin-top: 40px; */
}

#testimonial .container h3{
  font-size: 3em;
  color: #000;
}

section#testimonial p {
  font-size: 1.5em;
  padding-top: 1em;
}


section#important {
  margin: 1em;
  height: 10em;
  /* text-align: center; */
}

section#contact .important-left {
  padding-top: 5em;
}

#contact h2 {
  margin: 1em 0;
}

#contact img {
  width: 100%;
}

footer{
  padding: 30px;
}


@media (max-width: 900px) {
  section#hero div.title h1 {
    color: #fff;
    padding: .5em;
    letter-spacing: 10px;
    font-size: 2em;
    text-align: center;
    border: 5px solid #fff;
    display: inline;
  }
}

@media (max-width: 600px) {
  section#hero {
    background-image:url('../img/adjusted-hero.jpg');
    height: 775px;
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  section#hero div.title h1 {
    color: #fff;
    padding: .5em;
    letter-spacing: 10px;
    font-size: 1.5em;
    text-align: center;
    border: 5px solid #fff;
    display: inline;
  }

  .about-right {
    padding-top: 0;
  }

  #testimonial {
    background: #f1f1f1;
    height: 16em;
    padding: 2em 0 1em 0;
    /* text-align: center; */
    /* margin-top: 40px; */
  }
}
